img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 8px;
}
.app .app .app-nav, .app .app-header{
    background: #212529 !important
}
.app .app-header__logo{
    background: #212529
}

.app .app-header__logo{
    font-family: 'Nunito Sans', sans-serif;
}

.app-sidebar {
    background-color: #252a2e;
}

.app-menu__item.active, .app-menu__item:hover, .app-menu__item:focus {
    background: #0d1214;
    border-left-color: #88b027;
    text-decoration: none;
    color: #fff;
}

.app-sidebar__toggle:hover {
    color: #fff;
    background-color: #0d1214;
    text-decoration: none;
}

.app-sidebar__toggle:focus{
    color: #fff;
    background-color: #0d1214;
    text-decoration: none;
}

.card-hover:hover {
    background-color: rgba(25, 255, 255, 0.8);
    border-color: rgba(25, 255, 255, 0.8);
}

.slideshow {
    position: relative;
    height: 400px;
}
  
.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 3s;
}
  
.slide:first-child {
    opacity: 1;
    z-index: 1;
}

::selection {
    color: #FFF;
    background-color: #0d1257;
}

.table-responsive{
    font-size: 80%;
}

.btn-options {
    text-align: center;
    height: 3rem;
    width: 3rem;
}

.block-input{
    cursor: not-allowed;
    background-color: #c5c1c1;
}

.logo-header{
    width: 6rem;
    height: 3rem;
    padding-top: 0.1rem;
    justify-content: center;
    align-items: center;
}